h1 {
	border-bottom: solid 1px blue;
}

body {
	background-color: lightblue;
}

/* form { */
/* 	background-color:  #8cabb5; */
/* } */
table {
	border-collapse: collapse;
	border: 1px solid black;
}

td, th {
	border: 1px solid black;
	padding: 3px;
}

#page {
	min-width: 400px;
	min-height: 600px;
	margin-left: 50px;
	margin-right: 50px"
}

.formConnexion {
	margin: 0 auto;
}

.compte {
	float: left;
}

.dec {
	margin-left: 850;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap,
	.ui-layout-bd, .ui-layout-hd {
	border: none;
}

#header {
	border: solid 1px blue;
	padding: 5px;
	size: large;
	color: blue;
	background-color: #c8bfbf;
	margin-bottom: 20px;
	width: 70px;
}

#menu {
	float: right;
	width: 150px;
	border: solid 1px gray;
	padding: 5px;
	color: blue;
	background-color: white;
	margin-left: 20px;
}

#content {
	
}

#footer {
	border: solid 1px blue;
	padding: 5px;
	size: small;
	color: blue;
	background-color: #c8bfbf;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}

.alert {
	color: red;
	border: solid 2px red;
}